server:
  port: 9008 #提供者的端口
spring:
  application:
    name: spring-cloud-nacos-auth-service
  main:
    allow-bean-definition-overriding: true
  redis:
    database: 5
    host: 192.168.10.200
    port: 9078
    password: xxxxxxxxxxx   # 密码（默认为空）
    timeout: 6000ms  # 连接超时时长（毫秒）
    lettuce:
      pool:
        max-active: 8  # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1ms      # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 10      # 连接池中的最大空闲连接
        min-idle: 5       # 连接池中的最小空闲连接
management:
  endpoints:
    web:
      exposure:
        include: '*'

